body {
    background-image: url(Back.png);
    text-align: center;
}
.d1 p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
.em {
    padding: 30px;
}
.G {
    width: 220px;
    height: auto;
}
.V {
    width: 200px;
    height: auto;
}
.Z {
    width: 200px;
    height: auto;
}
.S {
    padding-bottom: 25px;
    width: 150px;
    height: auto;
}