body {
    padding-top: 15px;
    background-image: url(Cosmos.png);
    background-size: 500px;
    text-align: center;
}
.d1 p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
}
.em {
    padding: 30px;
}
.d2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}
.Sun {
    width: 600px;
    height: auto;
}
.G {
    width: 220px;
    height: auto;
}
.V {
    width: 200px;
    height: auto;
}
.Z {
    width: 200px;
    height: auto;
}
.S {
    padding-bottom: 25px;
    width: 150px;
    height: auto;
}