body {
    background-image: url(Cosmos.png);
}
p {
    font-size: 150px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: black;
}
.logo {
    width: 150px;
    height: auto;
}
svg {
    padding-left: 760px;
}
.d {
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}