body {
    padding-top: 15px;
    background-image: url(Cosmos.png);
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Z {
    width: 450px;
    height: auto;
}